body {
  
  height: 300vh;
  color: black;
  position: relative;
  background: whitesmoke;
}

body.dark {
  background: #1b1d25;
  color: white;
}

nav.navbar {
  width: 100%;
  justify-content: space-between;
  height: 100px;
}

.logo {
  width: 350px;
  margin-left: -50px;
}

a.navbar-brand {
  margin: 0 20px;
  font-size: 30px;
}

.nav-item {
  margin-right: 20px;
  font-size: 25px;
}

label {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.button{
  margin-left: 750px;
}

[type="checkbox"] {
  appearance: none;
  position: relative;
  border: max(2px, 0.1em) solid gray;
  border-radius: 1.25em;
  width: 2.25em;
  height: 1.25em;
}

[type="checkbox"]::before {
  content: "";
  position: absolute;
  left: 0;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  transform: scale(0.8);
  background-color: gray;
  transition: left 250ms linear;
}

[type="checkbox"]:checked {
  background-color: gray;
  border-color: gray;
}

[type="checkbox"]:checked::before {
  background-color: white;
  left: 1em;
}

[type="checkbox"]:disabled {
  border-color: lightgray;
  opacity: 0.7;
  cursor: not-allowed;
}

[type="checkbox"]:disabled:before {
  background-color: lightgray;
}

[type="checkbox"]:disabled + span {
  opacity: 0.7;
  cursor: not-allowed;
}

[type="checkbox"]:focus-visible {
  outline-offset: max(2px, 0.1em);
  outline: max(2px, 0.1em) solid gray;
}

[type="checkbox"]:enabled:hover {
  box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
}

footer {
  width: 100%;
  height: 20px;
  /* footer의 높이 */
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}

.detail-body {
  padding-top: 170px;
  margin: 0 auto;
  text-align: center;
}

.article_roundbox_1 {
  margin: 0 auto;
}

.article-detail-buttons {

  border: 0px;
  color: orange;
  text-decoration : underline;

}

.article_area {
  display: grid;
  text-align: center;
  height: 500px;
  margin: 0 auto;
  width: 65%;
}
.article_roundbox_2 {
  margin: 0 auto;
  height: 500px;
  width: 50%;
  border: none;
}

.article_imgs {
  object-fit: cover;
  width: 300px;
  height: 300px;
  margin-top: 50px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.article_imgs2{
  width: 300px;
  height: 300px;
}


.article_roundbox_3 {
  height: 50px;
  width: 100%;
  margin: 0 auto;
}

.title-box {
  margin: auto;
  width: 800px;
  display: flex;
}

/* 작성자 */
.title-user-box {
  padding-top: 20px;
  font-size: 15px;
  width: 37%;
  height: 70px;
  text-align: right;


}
/* 게시글 제목 */
.title-name-box {
  padding-top: 15px;
  font-size: 30px;
  height: 70px;
  text-align: left;
  width: 50%;
}

.profile_img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 300px;
}

.article_box2 {
  border-style: groove;
  border-top-width: 1px;
  border-bottom-width: 0.01px;
  border-left-width: 0px;
  border-right-width: 0px;
  height: 400px;
  display: flex;
  width: 800px;
  justify-content: center;
}

.article_box2_1 {
  margin-left: 0;
}
.article_box2_2 {
  padding-top: 50px;
  text-align: left;
  padding: 45px;
  width: 460px;
}

.like-bookmark-box {
  text-align: right;
  margin-top: 10px;
  padding: 15px;
  height: 50px;
  width: 820px
}

.content {
  padding: 20px;
  width: 50%;
  text-align: left;
}

.article-box4 {
  padding: 20px;
  text-align: left;

  height: 140px;
}

.image {
  padding-top: 10px;
  width: 290px;
  height: 290px;
}
.comment_input {
  margin: 0 auto;
  padding-top: 25px;
  width: 800px;
}

.article_box {
  display: flex;
}

.right_area {
  padding-left: 95%;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.right_area .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100vw * (45 / 1920));
  height: calc(100vw * (45 / 1920));

  border-radius: 50%;
}

.icon.heart img {
  width: calc(130vw * (24 / 1920));
  height: calc(130vw * (24 / 1920));
}

.icon.heart.fas {
  color: red;
}
.heart {
  transform-origin: center;
}
.heart.active img {
  animation: animateHeart 0.3s linear forwards;
}

@keyframes animateHeart {
  0% {
    transform: scale(0.2);
  }
  40% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.comment_input {
  display: grid;
  flex-direction: column;
  margin: 0 370px;
  margin-top: 50px;
}

.comment_small_box{
  display: flex;
}


.comment_button {
  display: flex;
  flex-direction: row;

}
.comment_content {
  display: flex;
  flex-direction: row;  
  text-align: left;

}



.update_button{
  display: grid;
  width: 55px;
}

.delete_button{
  font-size: 5px;
  display: grid;
  width: 55px;
}

.button-edit{

  background-color: whitesmoke;
  font-size: 10px;
  border: 0px;
  width: 30px;
  height: 10px;
  margin-top: -10px;

  
  
}

.button-delete{
  background-color: whitesmoke;
  font-size: 10px;
  border: 0px;
  width: 30px;
  height: 10px;
  margin-top: -10px;
  margin-left: -30px;
}

.content{
  padding: 10px;
}
.comment-email{
  margin-top: -5px;
}

.comment{
  margin-left: 20px;
  margin-top: -3px;
  font-size: 10pt;
}



.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
          display: inline-block;
          vertical-align: middle;
          content: " ";
          height: 100%;

  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;

}
.modal-header{

  height: 50px;
}

.modal-content{
  width: 400px;
  height: 150px;
}

.form-control{

  width: 780px;
}