@font-face {
  font-family: "NEXON Lv2 Gothic Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SBAggroB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Jua", sans-serif;
  height: 550vh;
  color: black;
  position: relative;
  background: linear-gradient(180deg, #dbe9f6 15%, #fefcc9 44%, #f7d0d5 100%);
}

.main {
  padding-top: 200px;
  margin-left: 100px;
  display: flex;
}
.main h1 {
  margin-top: 100px;
  background: linear-gradient(-10deg, #9759bb 30%, #fca6c6 65%, #f6af97 80%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 150pt;
  font-family: NEXON Lv2 Gothic Bold;
}

.main h2 {
  color: #a274b7;
  font-size: 20pt;
  line-height: 40px;
}

.main-image img {
  margin-left: 60px;
  width: 500px;
  height: 500px;
}
.container2 {
  text-align: center;
  margin-top: 200px;
}
.container2 .icon {
  margin-top: 50px;
}
.container2 .icon img {
  width: 150px;
  margin-left: 15px;
}
.main-function {
  margin: 0 auto;
  width: 100%;
  height: 240vh;
  text-align: center;
  margin-top: 190px;
  margin-bottom: 100px;
}

.function_box {
  margin: 0 auto;
  margin-top: 50px;
  width: 90%;
  height: 85%;
}

.functions {
  width: 70%;
  height: 300px;
  margin: 0 auto;
  margin-top: 30px;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.1)
  );
  box-shadow: rgb(0 0 0 / 10%) 0px 6px 12px;
  border-radius: 20px;
  display: flex;
}

.function_pic {
  width: 300px;
  height: 250px;
  margin: 25px 100px 25px 35px;
}

.function_text {
  width: 450px;
  height: 250px;
  margin: 25px 30px 25px 20px;
}

.function_pic img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.main-team {
  text-align: center;
}
.team_box1 {
  width: 70%;
  height: 250px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.team_box2 {
  width: 45%;
  height: 250px;
  display: flex;

  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.team_box1 .one {
  width: 300px;
  position: relative;
  border-radius: 20px;
  background: rgb(220, 119, 119);
}

.one img {
  border-radius: 20px;
}
.team_box2 .one {
  width: 300px;
  background: rgb(87, 171, 144);
  position: relative;
  border-radius: 20px;
}

.member .over {
  position: absolute;
  z-index: 10000;
  background: rgba(0, 0, 0, 0.679);
  width: 100%;
  height: 250px;
  border-radius: 10%;
  top: 0;
  left: 0;
  font-family: "Pretendard-Regular";
  color: rgb(255, 0, 0);
  display: none;
  padding-top: 20%;
  text-align: center;
  font-size: 15pt;
}

.member .one:hover .over {
  position: absolute;
  display: block;
}

.member div img {
  width: 100%;
  height: 100%;
}

span {
  font-size: 25pt;
  font-family: "SBAggroB";
  color: rgb(58, 58, 58);
}
body.dark {
  background: #1b1d25;
  color: white;
}

label {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

[type="checkbox"] {
  appearance: none;
  position: relative;
  border: max(2px, 0.1em) solid gray;
  border-radius: 1.25em;
  width: 2.25em;
  height: 1.25em;
}

[type="checkbox"]::before {
  content: "";
  position: absolute;
  left: 0;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  transform: scale(0.8);
  background-color: gray;
  transition: left 250ms linear;
}

[type="checkbox"]:checked {
  background-color: gray;
  border-color: gray;
}

[type="checkbox"]:checked::before {
  background-color: white;
  left: 1em;
}

[type="checkbox"]:disabled {
  border-color: lightgray;
  opacity: 0.7;
  cursor: not-allowed;
}

[type="checkbox"]:disabled:before {
  background-color: lightgray;
}

[type="checkbox"]:disabled + span {
  opacity: 0.7;
  cursor: not-allowed;
}

[type="checkbox"]:focus-visible {
  outline-offset: max(2px, 0.1em);
  outline: max(2px, 0.1em) solid gray;
}

[type="checkbox"]:enabled:hover {
  box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
}

footer {
  width: 100%;
  /* footer의 높이 */
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}

.member .over {
  position: absolute;
  z-index: 10000;
  background: rgba(0, 0, 0, 0.679);
  width: 100%;
  height: 250px;
  border-radius: 10%;
  top: 12%;
  left: -3%;
  font-family: "Pretendard-Regular";
  color: white;
  display: none;
  padding-top: 20%;
  text-align: center;
  font-size: 15pt;
}
