body {
  font-family: "Jua", sans-serif;
  height: 100vh;
  color: black;
  background: linear-gradient(180deg, #dbe9f6 15%, #fefcc9 44%, #f7d0d5 100%);
}

body.dark {
  background: #1b1d25;
  color: white;
}

nav.navbar {
  width: 100%;
  justify-content: space-between;
  height: 80px;
}

.logo {
  width: 350px;
  margin-left: -50px;
}

a.navbar-brand {
  margin: 0 20px;
  font-size: 30px;
}

.nav-item {
  margin-right: 20px;
  font-size: 20px;
}

label {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.box {
  height: 400px;
  display: grid;
}

.login_box2 {
  display: grid;
  text-align: center;
  height: 300px;
  width: 35%;
  margin: 0 auto;
  margin-top: 60px;
  background: linear-gradient(
    0deg,
    rgba(210, 160, 160, 0.5),
    rgba(170, 136, 136, 0.1)
  );
  border-radius: 20px;
  margin-top: 200px;
}
.signup_btn {
  margin: auto;
}

.form-control{
  margin-top: 20px;
}

[type="checkbox"] {
  appearance: none;
  position: relative;
  border: max(2px, 0.1em) solid gray;
  border-radius: 1.25em;
  width: 2.25em;
  height: 1.25em;
}

[type="checkbox"]::before {
  content: "";
  position: absolute;
  left: 0;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  transform: scale(0.8);
  background-color: gray;
  transition: left 250ms linear;
}

.div{
  height: 30px;
}

[type="checkbox"]:checked {
  background-color: gray;
  border-color: gray;
}

[type="checkbox"]:checked::before {
  background-color: white;
  left: 1em;
}

[type="checkbox"]:disabled {
  border-color: lightgray;
  opacity: 0.7;
  cursor: not-allowed;
}

[type="checkbox"]:disabled:before {
  background-color: lightgray;
}

[type="checkbox"]:disabled + span {
  opacity: 0.7;
  cursor: not-allowed;
}

[type="checkbox"]:focus-visible {
  outline-offset: max(2px, 0.1em);
  outline: max(2px, 0.1em) solid gray;
}

[type="checkbox"]:enabled:hover {
  box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
}

footer {
  width: 100%;
  /* footer의 높이 */
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}

.signupbtn {
  width: 450px;
  margin: 0 auto;
  border-radius: 10px;
  border: 0ex;
  background-color: rgb(255, 255, 255);
  color: #5a5a5a;
  font-size: 17pt;
  opacity: 0.8;
}

.signupbtn:hover {
  width: 450px;
  margin: 0 auto;
  border-radius: 10px;
  border: 0ex;
  background-color: rgb(134, 201, 207);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.119), 0 6px 6px rgba(0, 0, 0, 0.23);
}
