<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />

    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="/static/css/articledetail.css" />
    <link rel="stylesheet" href="/static/css/nav.css" />
    <title>articledetail</title>

</head>
<body id="body">
  <header></header>
      <div class="detail-body">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="space">
          <img id ="image" src="/static/img/001.png" class="logo" href="../templates/index.html">
        </div>
        <div class="space">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" id="username" href="#"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="profile.html">My</a>
            </li>
            <li class="nav-item">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" >
                      기능
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">게시판</a></li>
                      <li><a class="dropdown-item" href="#">피부 증상 탐지</a></li>
                      <li><a class="dropdown-item" href="#">채팅방</a></li>
                    </ul>
                  </div>
            </li>
            <li class="nav-item">
              <button type="button" class="btn btn-link" style="font-size:20pt;" onclick="handleLogout()">Logout</button>
            </li>
          </ul>
        </div>
      </nav>
      <div>
        <!-- 여기에 본문 -->
        <div class="article_roundbox_1" >
          고양이 게시판
          <button type="button" onclick="location.href=`/templates/post_modify.html?id=${article_id}`;" class="article-detail-modify">수정</button>
          <button type="button" onclick="" class="article-detail-delete">삭제</button>
        </div>
      
        <div class="article_roundbox_2">
          <div class="title-box">
        <div class="title-name-box" id="title">제목</div>
        <div class="title-user-box" id="article_author">작성자</div>
      </div>
        <div class="article_box2" >
          <div class="article_box2_1" ><img class="article_imgs" src="/static/img/profile.jpeg" id="article_imgs"></div>
          <div class="article_box2_2" id="content">게시글 내용</div>
        </div>
        <div class="article_box3">
          <div class="right_area">
            <span id="dolike"></span>
            <span id="dobookmark"></sp>
            <sapn id="user-name"></sapn>
            <sapn id="likes"></sapn>
            <sapn id="bookmarks"></sapn>
            <sapn id="profile_img"></sapn>
            <sapn id="created_at"></sapn>
        </div>
    <body>
      <div class="wrap">
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">댓글 수정</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="input-group mb-3">
                  <input
                    type="text"
                    id="modal_comment"
                    class="form-control"
                    aria-label="Username"
                    aria-describedby="basic-addon1"
                  />
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">나가기</button>
                <button type="button" class="btn btn-success" id="save_button">수정하기</button>
              </div>
            </div>
          </div>
        </div>
          <div class="comment_box">
            <h4>댓글</h4>
            <div>
              <div id="update_box" class="update_box"></div>
              <div class="comment_input">
                <div class="comment_small_box">
                  <div class="comment_content">
                    <p id="email" class="email"></p>
                    <p id="comment" class="comment"></p>
                    <p id="comment_created_at" class="comment_created_at"></p>
                  </div>
                  <div class="comment_button">
                    <div id="update_button" class="update_button"></div>
                    <div id="delete_button" class="delete_button"></div>
                  </div>
                </div>
                <div class="comment_input_box">
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="comment-input" placeholder="댓글 입력" required />
                    <label for="floatingInput">댓글 입력</label>
                  </div>
                  <button type="button" class="btn btn-secondary comment_input_button" onclick="CreateComment()">게시하기</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        </div>

        <div class="article_roundbox_3"></div>

    </div>
      <footer>
        <label>
            <input role="switch" type="checkbox" onclick="darkmode()" />
            <span>다크모드로 전환</span>
          </label>
          <p>
          2022 Team Rocket All Rights Reserved
          </p>
      </footer>
      <script src="../static/js/api.js"></script>
      <script src="../static/js/articledetail.js"></script>
</body>
<script src="../static/js/loader.js"></script>
</html>