<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet" />

  <link rel="stylesheet" href="/static/css/index.css" />
  <title>PetSo</title>

</head>

<body id="body">
  <header></header>
  <!-- 헤더 끝 -->
  <!-- 여기에 본문 -->
  <form>
    <div class="main">
      <p class="profile_img" id="profile_img"></p>
      <div class="main_profile">
        <div>
          <p class="h3" id="email"></p>
          <p id="name"></p>
          <p id="introduce"></p>
          <p>내 펫 리스트</p>
          <ol class="pet_list" id="pet_list"></ol>
          <span style="cursor:pointer;" onclick="location.href='add_pet.html'">펫 등록하기</span>
        </div>
        <div>
          <button type="button" class="btn btn-primary profile" onclick="location.href='profile_update.html'">프로필 수정</button>
        </div>
        <div class="my_bookmarks">
          <button type="button" class="btn btn-outline-warning" onclick="location.href='my_bookmark.html'">🔖 북마크 모아보기</button>
        </div>
      </div>
    </div>
    <br />
    <ol class="article_list" id="article_list" style="list-style:none;"></ol>
  </form>
  <!-- 본문 끝 -->
  <!-- footer -->
  <footer>
    <label>
      <input role="switch" type="checkbox" onclick="darkmode()" />
      <span>다크모드로 전환</span>
    </label>
    <p>
      2022 Team Rocket All Rights Reserved
    </p>
  </footer>
  <!-- footer 끝 -->
  <script src="../static/js/api.js"></script>
  <script src="../static/js/myprofile.js"></script>
  <script src="../static/js/loader.js"></script>
  <script>
    if (!token) {
      window.location.replace(`${frontend_base_url}/login.html`);
    }
  </script>
</body>

</html>