<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="./index.html"><img src="/static/img/001.png" class="logo" href="../templates/index.html" ></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>
            <ul class="navbar-nav ml-auto" id="navbar-right">
                <li class="nav-item">
                    <a class="nav-link" id="intro"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./myprofile.html">My</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        기능
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="./main.html">자유 게시판</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="./inference.html">병변 탐지</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="./chat.html">채팅방</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="cursor:pointer;" id="login-button" href="./login.html">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>